body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 40px;
}
.name{
color: rgb(235, 144, 33);
}
p{
    color: gray;
}
.button{
    text-decoration: none;
    font-size: 19px;
    padding: 2% 8%;
    border-radius: 9px;
    background-image: linear-gradient(rgb(249, 188, 5),rgb(240, 62, 31));
    color:white;
    font-weight: 700;
}
.flex{
    display: flex;
}
.half-w{
    width: 50%;
    padding: 5%;
}
.half-w img{
    width: 95%;
}
.top{
    background-image: url(Image/top-banner.png);
    background-repeat: no-repeat;
}
#button-2{
    text-decoration: none;
    font-size: 19px;
    padding: 2% 8%;
    border-radius: 9px;
    background-image: linear-gradient(rgb(6, 6, 244),rgb(120, 120, 224));
    color:white;
    font-weight: 700;
}
#mid{
    background-image: url(Image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.date{

    color: orange;
}
.experience-items{

    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-bottom: 30px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    
}
.down{

    background-image: url(Image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    

}
#full{

    border-left: 7px solid tomato;
}
#baby{

    border-left: 7px solid blue;
}
footer p{
    text-align: center;
}