body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.name{
color: rgb(235, 144, 33);
}
p{
    color: gray;
}
.button{
    text-decoration: none;
    font-size: 19px;
    padding: 2% 8%;
    border-radius: 9px;
    background-image: linear-gradient(rgb(249, 188, 5),rgb(240, 62, 31));
    color:white;
    font-weight: 700;
}
section{
    display: flex;
}
.half-w{
    width: 50%;
    padding: 5%;
}
.half-w img{
    width: 95%;
}
.top{
    background-image: url(Image/top-banner.png);
    background-repeat: no-repeat;
}